:root {
  font-size: 62.5%; /* 1rem = 10px */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

  color: white;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
}


nav.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5rem;
  padding: 4rem 7.2rem  4rem;

  
}

nav a {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #C4C4CC;

}

 nav a:focus {
  color: white;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
nav a:active { 
  color: #FFF; 
}
